@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding: 112px 32px;
  }
  .section_title {
    font-size: var(--h1-font-size);
  }
  .nav_toggle,
  .nav_close {
    display: none;
  }
  .nav_list {
    flex-direction: row;
    column-gap: 72px;
  }
  .home {
    &_container {
      position: relative;
    }
    &_img {
      width: 500px;
    }
    &_title {
      font-size: var(--biggest-font-size);
    }
    &_tooltip {
      right: 96px;
      &-img {
        width: initial;
      }
      &-text {
        font-size: var(--normal-font-size);
        transform: translate(82px, -52px);
      }
    }
    &_social-text {
      font-size: var(--normal-font-size);
    }
    &_social-links {
      row-gap: 16px;
    }
    &_social-link {
      font-size: 24px;
    }
  }
  .about.about_container {
    display: grid;
    grid-template-columns: 400px 500px;
    align-items: center;
    column-gap: 80px;
  }
  .about_data.section_title,
  .about_data {
    text-align: initial;
  }
  .about.about_description {
    margin-bottom: 16px;
  }
  .about.about_img {
    width: 500px;
  }

  .favorite_container {
    max-width: 1100px;
    margin-inline: auto;
  }
  .favorite_img {
    width: 500px;
  }
  .model {
    &_img {
      width: 600px;
    }
    &_tooltip {
      &-img {
        width: initial;
      }
      &-text {
        font-size: var(--normal-font-size);
        padding: 8px 20px;
        transform: translate(82px, -56px);
      }
      &-1 {
        top: 160px;
        left: 200px;
      }
      &-2 {
        transform: initial;
        top: 64px;
        right: -24px;
      }
      &-3 {
        transform: scaleX(-1);
        left: 0;
        bottom: 100px;
      }
    }
  }
  .model_tooltip-3 .model_tooltip-text {
    transform: translate(82px, -56px) scaleX(-1);
  }
  .sponsor_container {
    grid-template-columns: repeat(4, max-content);
  }
}
